
.navigation{
    flex-grow: 1.5;
    list-style-type: none;
    font-size: 14px;
    color:beige;
    flex-basis: 0;
    border-right: solid 1px #555;
    background-color: rgb(221, 135, 126) ;
  }
  .navigation>ul>li {
    padding: 10px 5px ;
    list-style-type: none;
  
  }
  
  
  .suggestions{
    flex-grow: 2;
    flex-basis: 0;
    font-size: 14px;
    overflow: hidden;
    padding:5px;
    background-color: rgb(221, 135, 126);
    color:beige;
    border-left: solid 1px #555;
  }
  
  .content{
    background-color: rgb(241, 196, 191);
    flex-grow: 4;
    padding:5px;
  
    flex-basis: 0;
    width:400px;
  }
  