*{
  font-family: sans-serif;
}



.App {
  text-align: center;
  display:flex;
  flex-direction: row;  
  justify-content: space-around; 
  flex-wrap: wrap;

}

.home {
  text-align: center;
  display:flex;
  flex-direction: row;  
  justify-content: space-around; 
  flex-wrap: wrap;

}

.navigation{
  flex-grow: 1.5;
  list-style-type: none;
  font-size: 14px;
  color:beige;
  flex-basis: 0;
  border-right: solid 1px #555;
  background-color: rgb(221, 135, 126) ;
}
.navigation>ul>li {
  padding: 10px 5px ;
  list-style-type: none;

}


.suggestions{
  flex-grow: 2;
  flex-basis: 0;
  font-size: 14px;
  overflow: hidden;
  padding:5px;
  background-color: rgb(221, 135, 126);
  color:beige;
  border-left: solid 1px #555;
}

.content{
  background-color: rgb(241, 196, 191);
  flex-grow: 4;
  padding:5px;
  flex-basis: 0;
  width:400px;
}

.tweets{
  border:1px solid #444;
  padding:  5px 0 ;
  margin: 5px;
  background-color:#ddd ;

}

.tweet-name {
  display:flex;
  justify-content: space-evenl;
}

.name{
  flex-grow:8;
  justify-content: space-around;
  text-align:left;
  color:blue;
  padding:0 0 0 10px;
  border-bottom: solid 1px black;
}

.pic{
  flex-grow: 1;
  text-align:right;
  border-radius:2px;
}
 
.tweet{
  font-size:12px;
  background-color: #eee;
  margin: 8px 10px 2px 10px;
}

.compose{
  display:flex;
}

.hellow{
  color:red;
  list-style-type: none;
}

/* @media only screen and (orientation:landscape){
  .App{flex-direction: column;}
  
} */

#pakad{
  list-style-type: none;
}

.settings{
  background-color: aqua;
  
}

#account{
  display: flex;
  flex-direction: row;
}